@font-face {
    font-family: 'Mulish';
    src: url('/fonts/Mulish-Black.eot');
    src: local('Mulish Black'), local('Mulish-Black'), url('/fonts//Mulish-Black.eot?#iefix') format('embedded-opentype'), url('/fonts/Mulish-Black.woff2') format('woff2'), url('/fonts/Mulish-Black.woff') format('woff'), url('/fonts/Mulish-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('/fonts/Mulish-BlackItalic.eot');
    src: local('Mulish Black Italic'), local('Mulish-BlackItalic'), url('/fonts/Mulish-BlackItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/Mulish-BlackItalic.woff2') format('woff2'), url('/fonts/Mulish-BlackItalic.woff') format('woff'), url('/fonts/Mulish-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Mulish';
    src: url('/fonts/Mulish-ExtraBoldItalic.eot');
    src: local('Mulish ExtraBold Italic'), local('Mulish-ExtraBoldItalic'), url('/fonts/Mulish-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/Mulish-ExtraBoldItalic.woff2') format('woff2'), url('/fonts/Mulish-ExtraBoldItalic.woff') format('woff'), url('/fonts/Mulish-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Mulish';
    src: url('/fonts/Mulish-MediumItalic.eot');
    src: local('Mulish Medium Italic'), local('Mulish-MediumItalic'), url('/fonts/Mulish-MediumItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/Mulish-MediumItalic.woff2') format('woff2'), url('/fonts/Mulish-MediumItalic.woff') format('woff'), url('/fonts/Mulish-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Mulish';
    src: url('/fonts/Mulish-Medium.eot');
    src: local('Mulish Medium'), local('Mulish-Medium'), url('/fonts/Mulish-Medium.eot?#iefix') format('embedded-opentype'), url('/fonts/Mulish-Medium.woff2') format('woff2'), url('/fonts/Mulish-Medium.woff') format('woff'), url('/fonts/Mulish-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('/fonts/Mulish-SemiBoldItalic.eot');
    src: local('Mulish SemiBold Italic'), local('Mulish-SemiBoldItalic'), url('/fonts/Mulish-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/Mulish-SemiBoldItalic.woff2') format('woff2'), url('/fonts/Mulish-SemiBoldItalic.woff') format('woff'), url('/fonts/Mulish-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Mulish';
    src: url('/fonts/Mulish-BoldItalic.eot');
    src: local('Mulish Bold Italic'), local('Mulish-BoldItalic'), url('/fonts/Mulish-BoldItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/Mulish-BoldItalic.woff2') format('woff2'), url('/fonts/Mulish-BoldItalic.woff') format('woff'), url('/fonts/Mulish-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Mulish';
    src: url('/fonts/Mulish-ExtraBold.eot');
    src: local('Mulish ExtraBold'), local('Mulish-ExtraBold'), url('/fonts/Mulish-ExtraBold.eot?#iefix') format('embedded-opentype'), url('/fonts/Mulish-ExtraBold.woff2') format('woff2'), url('/fonts/Mulish-ExtraBold.woff') format('woff'), url('/fonts/Mulish-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('/fonts/Mulish-LightItalic.eot');
    src: local('Mulish Light Italic'), local('Mulish-LightItalic'), url('/fonts/Mulish-LightItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/Mulish-LightItalic.woff2') format('woff2'), url('/fonts/Mulish-LightItalic.woff') format('woff'), url('/fonts/Mulish-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Mulish';
    src: url('/fonts/Mulish-Light.eot');
    src: local('Mulish Light'), local('Mulish-Light'), url('/fonts/Mulish-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/Mulish-Light.woff2') format('woff2'), url('/fonts/Mulish-Light.woff') format('woff'), url('/fonts/Mulish-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('/fonts/Mulish-Bold.eot');
    src: local('Mulish Bold'), local('Mulish-Bold'), url('/fonts/Mulish-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/Mulish-Bold.woff2') format('woff2'), url('/fonts/Mulish-Bold.woff') format('woff'), url('/fonts/Mulish-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('/fonts/Mulish-ExtraLightItalic.eot');
    src: local('Mulish ExtraLight Italic'), local('Mulish-ExtraLightItalic'), url('/fonts/Mulish-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/Mulish-ExtraLightItalic.woff2') format('woff2'), url('/fonts/Mulish-ExtraLightItalic.woff') format('woff'), url('/fonts/Mulish-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Mulish';
    src: url('/fonts/Mulish-Regular.eot');
    src: local('Mulish Regular'), local('Mulish-Regular'), url('/fonts/Mulish-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/Mulish-Regular.woff2') format('woff2'), url('/fonts/Mulish-Regular.woff') format('woff'), url('/fonts/Mulish-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('/fonts/Mulish-ExtraLight.eot');
    src: local('Mulish ExtraLight'), local('Mulish-ExtraLight'), url('/fonts/Mulish-ExtraLight.eot?#iefix') format('embedded-opentype'), url('/fonts/Mulish-ExtraLight.woff2') format('woff2'), url('/fonts/Mulish-ExtraLight.woff') format('woff'), url('/fonts/Mulish-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('/fonts/Mulish-Italic.eot');
    src: local('Mulish Italic'), local('Mulish-Italic'), url('/fonts/Mulish-Italic.eot?#iefix') format('embedded-opentype'), url('/fonts/Mulish-Italic.woff2') format('woff2'), url('/fonts/Mulish-Italic.woff') format('woff'), url('/fonts/Mulish-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Mulish';
    src: url('/fonts/Mulish-SemiBold.eot');
    src: local('Mulish SemiBold'), local('Mulish-SemiBold'), url('/fonts/Mulish-SemiBold.eot?#iefix') format('embedded-opentype'), url('/fonts/Mulish-SemiBold.woff2') format('woff2'), url('/fonts/Mulish-SemiBold.woff') format('woff'), url('/fonts/Mulish-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}